default_alert_color = colors.light.dark
default_alert_text_color = colors.dark.base

alert_settings = {
  small: {
    horizontal_padding: small_horizontal_padding
    vertical_padding: small_vertical_padding
    font_size: 11px
    icon_size: 14px
    box_height: auto
    icon_height: 27px
  }
  default: {
    horizontal_padding: default_horizontal_padding
    vertical_padding: default_vertical_padding
    font_size: fonts.base
    icon_size: 16px
    box_height: auto
    icon_height: 35px
  }
  large: {
    horizontal_padding: default_horizontal_padding
    vertical_padding: default_vertical_padding
    font_size: fonts.large
    icon_size: 20px
    box_height: auto
    icon_height: 43px
  }
}


colors_with_dark_text = 'lighter' 'darker' 'yellow' 'yellow-green' 'green'

icon_owner(alert, alert_settings)

.alert
  text_color = default_alert_text_color
  light_text_color = colors.light.light

  background default_alert_color
  color default_alert_text_color
  margin-top default_vertical_padding
  border-radius 4px

  &.alert-small
    border-radius 3px

  &.alert-large
    border-radius 6px

  &.alert-icon-medal
    &.alert-small i:after
      box(70%)
      absolute(15%,15%)

    i
      color light_text_color
      text-shadow none

      &:before
        z-index 2
        relative()

      &:after
        content ''
        display block
        background default_alert_text_color
        z-index 1
        border-radius 50%
        box(60%)
        absolute(20%,20%)

  for name, accent in accents
    .{name} &, &.alert-{name}
      has_shadow = not name in colors_with_dark_text
      shadow_color = darken(accent, 15%)

      if has_shadow
        text_color = light_text_color
        text-shadow 0 1px 0 shadow_color, 0 2px 1px shadow_color

      background accent
      color text_color

      &.alert-small
        if has_shadow
          text-shadow 0 0px 2px shadow_color

      if name == 'black'
        &.alert-icon-medal i
          color default_alert_text_color
          &:after
            background text_color
