shadow = base02 - rgba(0,0,0,0.5)
highlight = base2
shine = base2
shine_blend_factor = 70%
hover_blend_factor = 6%
blank = rgba(255,255,255,0)
shadow_spread = 8px

hover_opacity = rgba(0,0,0,0.6)

translucency(color)
  &
    box-shadow inset 0 0 shadow_spread color, inset 0 0 shadow_spread shadow, 0 1px 3px shadow

.navbar
  background lighten(base1, 20%)

  color base01
  text-shadow 0 2px 6px (base00 - hover_opacity)

  margin 0
  position relative
  z-index 1

  translucency(lighten(base1, 40%))

  li
    display inline-block
    list-style none

    &.dropdown > a
      display none

    a
      display inline-block
      padding default_vertical_padding default_horizontal_padding
      text-decoration none
      text-transform uppercase
      color base01
      font-size large_font_size

      &:hover
        background base2 - hover_opacity

  &.navbar-small
    li a
      padding small_vertical_padding small_horizontal_padding
      font-size default_font_size

  &.navbar-large
    li a
      padding large_vertical_padding large_horizontal_padding
      font-size extra_large_font_size


  &.navbar-demo
    margin default_vertical_padding default_horizontal_padding

.dark .navbar, .navbar.dark
  background lighten(base01, 5%)
  text-shadow 0 2px 6px (base1 - hover_opacity)
  translucency(lighten(base01, 15%))

  li
    a
      color base1

      &:hover
        background lighten(base00, 10%) - hover_opacity
