vendor(key, value)
  -webkit-{key} value
  -moz-{key} value
  -ms-{key} value
  -o-{key} value
  {key} value

text-shadow()
  vendor(text-shadow, arguments)

box-shadow()
  vendor(box-shadow, arguments)

transition()
  vendor(transition, arguments)

transform()
  vendor(transform, arguments)

animation()
  vendor(animation, arguments)

force_gpu()
  transform translate3d()
