// RESPONSIVE BREAKPOINTS
break = {
  xs: 480
  sm: 768
  md: 1024
  lg: 1220
  xl: 1600
}

// GRID SETUP
max_grid_width = 12
grid_widths = (2..max_grid_width)
default_grid_width = 12

default_break_size = 'sm'

row_name = 'row'
column_name = 'col'
offset_name = 'off'
column_selector = "[class*='%s-']" % s(column_name)
gutter_name = 'gutter'

// PADDINGS & MARGINS
paddings = {
  triple: 60
  double: 40
  base: 20
  half: 10
  quarter: 5
  small: 3
  thin: 1

}

// Pixel unit version of paddings
paddings_px = {}
for key,pad in paddings
  paddings_px[key] = paddings[key] + 0px

// Gutters values are basically copied from paddings
gutters = paddings

// Default elements padding
default_horizontal_padding = paddings_px.half
default_vertical_padding = paddings_px.quarter
small_horizontal_padding = paddings_px.quarter
small_vertical_padding = paddings_px.small
large_horizontal_padding = paddings_px.base
large_vertical_padding = paddings_px.half

small_font_size = 10px
default_font_size = 12px
large_font_size = 14px
extra_large_font_size = 18px

// FONTS
font_interface = 'Open Sans', sans-serif
fonts = {
  small: small_font_size
  base: default_font_size
  large: large_font_size
}

base02 = #171A2B
base01 = #393942
base00 = #4C435B
base0 = #BFB2F7
base1 = #DCD4F9
base2 = #FAE8FF

color_red = #E01F59
color_orange = #E0451F
color_yellow = #E0A61F
color_yellow_green = #ACD313
color_green = #56d513
color_cyan = #1FBAE0
color_blue = #1F59E0
color_violet = #A61FE0
color_pink = #E01FBA

// COLORS
colors = {
  light: {
    dark: base0
    base: base1
    light: base2
    opposite: 'dark'
  }
  dark: {
    dark: base02
    base: base01
    light: base00
    opposite: 'light'
  }
}

accents = {
  pink: color_pink
  red: color_red
  orange: color_orange
  yellow: color_yellow
  yellow-green: color_yellow_green
  green: color_green
  cyan: color_cyan
  blue: color_blue
  violet: color_violet
}
accents['lighter'] = base2
accents['darker'] = base0
accents['black'] = base00

disabled_amount = 65%
