@import "imports/variables.styl"
@import "imports/css3.styl"

@import "imports/functions/blend.styl"
@import "imports/functions/colors.styl"

@import "imports/mixins/responsive.styl"
@import "imports/mixins/text.styl"
@import "imports/mixins/boxes.styl"
@import "imports/mixins/inputs.styl"
@import "imports/mixins/icons.styl"
@import "imports/mixins/pseudo_elements.styl"

@import "imports/grid.styl"
@import "imports/paddings.styl"

@import "imports/partials/buttons.styl"
@import "imports/partials/inputs.styl"
@import "imports/partials/check_boxes.styl"
@import "imports/partials/alerts.styl"
@import "imports/partials/input_groups.styl"

html
  width 100%
  height 100%
  overflow-x hidden
  font-family font_interface
  font-weight 100

html, body
  margin 0

*
  box_sizing()

.dummy
  padding 10px 0
  text-align center
  color #666
  background #F4F4F4
  border 1px solid #E4E4E4

for name,palette in colors
  col = palette.base
  opp = colors[palette.opposite].base

  .{name}
    background col
    color opp
