extend layout.jade

block content
  nav
    ul
      li: a(href='/grid.html') Grid &amp; Offset
      li: a(href='/icon_owners.html') Icon Owners
      li: a(href='/buttons.html') Buttons
      li: a(href='/inputs.html') Inputs
      li: a(href='/input_groups.html') Input Groups
      li: a(href='/alerts.html') Alerts
      li: a(href='/check_boxes.html') Check Boxes
      li: a(href='/navbar.html') Navbar

  .row
    for theme in ['light', 'dark']
      .col-1-2
        .actions.padded(class=theme)

          .input.input-large.input-icon-left.input-darker
            input(type='text', placeholder='john.doe@example.com')
            i.fa.fa-user

          div &nbsp;

          .input.input-large.input-icon-left.input-darker
            input(type='password', placeholder='••••••')
            i.fa.fa-lock

          div &nbsp;

          .field.checkbox
            input(type='checkbox', id="checkbox-" + theme)
            label(for="checkbox-" + theme)
              .check
              span.text= 'CheckBox'

          div &nbsp;

          button.btn.btn-orange.btn-icon-left.btn-large
            i.fa.fa-chevron-left
            = "Action Button"

          button.btn.btn-yellow-green.btn-icon-right.btn-large
            i.fa.fa-chevron-right
            = "Action Button"


        include scripts.jade
        script
          :coffee
            transit_to = ($button, icon) ->
              $button.find('i').addClass('out').on 'webkitAnimationEnd oanimationend msAnimationEnd animationend', ->
                $button.find('.out').remove()
                $button.removeClass('swap-icons').find('.in').removeClass('in')

              $button.append "<i class='fa fa-#{icon} in'></i>"
              $button.addClass 'swap-icons'

            $('button').on 'click', ->
              $button = $(this)
              transit_to $button, 'cog'
              setTimeout ->
                transit_to $button, 'check'
              , 1000
