doctype html
html(lang='en')
  head
    title
      block title
        = locals.name

    block head
    include head

  body(class=bodyclass)
    include navigation

    block content

    include scripts
    block script
