nav
  ul.navbar.dark
    li: a(href='/') Index
    li: a(href='/grid.html') Grid &amp; Offset
    li: a(href='/icon_owners.html') Icon Owners
    li: a(href='/buttons.html') Buttons
    li: a(href='/inputs.html') Inputs
    li: a(href='/input_groups.html') Input Groups
    li: a(href='/alerts.html') Alerts
    li: a(href='/check_boxes.html') Check Boxes
    li: a(href='/navbar.html') Navbar
    li: a(href='/modals.html') Modals
