script(src='//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js')
script(src='//code.jquery.com/jquery-1.11.0.min.js')
script(src='/js/vendor/html2canvas.js')
script(src='/js/vendor/StackBlur.js')
script(src='/js/vendor/mixins.js')

script(src='/js/widgets/index.js')
script(src='/js/widgets/hash.js')
script(src='/js/widgets/mixins/activable.js')
script(src='/js/widgets/mixins/disposable.js')

script(src='/js/widgets/widgets/focus_bubbling.js')
script(src='/js/widgets/widgets/modal.js')
script(src='/js/boot.js')

script
  :coffee
    $ ->
      FastClick.attach document.body
