script(src='//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js')
script(src='//code.jquery.com/jquery-1.11.0.min.js')
script(src='/js/widgets/index.js')
script(src='/js/widgets/hash.js')
script(src='/js/widgets/collection/bubbling_focus.js')
script(src='/js/boot.js')
script
  :coffee
    $ ->
      FastClick.attach document.body
