extend layout.jade

block title
  | Icon Owners

block content
    - var size_variants = 'small default large'.split(' ')
    - var icon_variants = 'default icon-left icon-double icon-right icon'.split(' ')

    each size_variant in size_variants
      p
        each icon_variant in icon_variants
          .box(class= ['box-' + size_variant, 'box-' + icon_variant ])
            span.text Box text
            unless icon_variant == 'default'
              if icon_variant == 'icon-double'
                i.fa.fa-square.icon-left
                i.fa.fa-square.icon-right
              else
                i.fa.fa-square
