extend layout.jade

block content
  - var themes = 'light dark'.split(' ')
  - var size_variants = 'small default large'.split(' ')

  .row
    each theme in themes
      .col-1-2(class=theme, style='height: 500px')
        .half-padded
          include login_form
          button.btn(data-toggle='modal', data-target='#modal', data-class=theme, data-confirm='' + (theme == 'dark'))= 'Open ' + theme + ' Modal'

  .overlay
  #modal.modal
    h3 Modal
    div &nbsp;
    include login_form
