extend layout.jade

block content
  - var themes = 'light dark'.split(' ')
  - var size_variants = 'small default large'.split(' ')

  .row
    each theme in themes
      .col-1-2(class= theme)
        each size_variant in size_variants
          nav
            ul.navbar.navbar-demo(class= 'navbar-' + size_variant)
              - for i in [1, 2, 3, 4, 5]
                li: a(href='#')= "Item " + i
