script(src='//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js')
script(src='//code.jquery.com/jquery-1.11.0.min.js')
script(src='/js/html2canvas.js')
script(src='/js/StackBlur.js')
script(src='/js/mixins.js')

script(src='/js/main.js')
