shadow = base02 - rgba(0,0,0,0.5)
highlight = base2
shine = base2
shine_blend_factor = 70%
hover_blend_factor = 6%
blank = rgba(255,255,255,0)

button_settings = {
  small: {
    horizontal_padding: small_horizontal_padding
    vertical_padding: small_vertical_padding
    font_size: fonts.small
    icon_size: fonts.base
    box_height: 23px
  }
  default: {
    horizontal_padding: default_horizontal_padding
    vertical_padding: default_vertical_padding
    font_size: fonts.base
    icon_size: 16px
    box_height: 32px
  }
  large: {
    horizontal_padding: large_horizontal_padding
    vertical_padding: large_vertical_padding
    font_size: fonts.large
    icon_size: 20px
    box_height: 43px
  }
}


@keyframes shining
  0%
    transform translate(-25px, 0)

  100%
    transform translate(100%, 0)

@keyframes icon-in
  0%
    transform translate3d(0,-100%,0)
  100%
    transform translate3d(0,0,0)

@keyframes icon-out
  0%
    transform translate3d(0,0,0)
  100%
    transform translate3d(0,100%,0)

colored_btn(bg=base0, txt, bevel=2px)
  border_color = darken(bg, 15%)
  bevel_color = darken(bg, 15%) - rgba(0, 0, 0, 0.5)
  highlight_color = lighten(bg, 20%) - rgba(0, 0, 0, 0.5)

  hover_bg = blend(bg, highlight, hover_blend_factor, plus)
  hover_border = blend(border_color, highlight, hover_blend_factor, plus)
  hover_bevel = blend(bevel_color, highlight, hover_blend_factor, plus)
  hover_highlight = blend(highlight_color, highlight, hover_blend_factor, plus)
  shine_color = blend(bg, shine, shine_blend_factor, plus) - rgba(0,0,0,0.5)

  has_shadow = !(selector() == '.btn' || selector() == '.btn.btn-lighter')

  color txt
  background bg
  border-bottom bevel solid border_color
  box-shadow 0 1px 3px -1px shadow

  if has_shadow
    text-shadow 0 1px 0 border_color, 0 2px 0 border_color

  &:after
    content ''
    background-image linear-gradient(110deg, blank 12%, shine_color 13%, shine_color 21%, blank 22%)
    background-size 110px 43px
    background-repeat no-repeat
    transform translate(-30px, 0)
    background-position -6px 0
    box(100%, 100%)
    absolute(0,0)

  &.btn-small:after
    background-size 80px 43px
    background-position -6px 0

  &.btn-large:after
    background-size 150px 43px
    background-position -6px 0

  &:not(:active):after
    animation shining 0.4s cubic-bezier(0.605, 0.005, 0.875, 0.435) 0s 1

  &:hover
    background hover_bg
    border-color hover_border

    if has_shadow
      text-shadow 0 1px 0 hover_border, 0 2px 0 hover_border

    &.btn-icon-left i
      border-color hover_bevel
      &:after
        border-color hover_highlight

    &.btn-icon-right i
      border-color hover_highlight
      &:after
        border-color disabled_bevel

  &.btn-icon-left i
    border-right 1px solid bevel_color

    +after()
      box(1px, 100%)
      absolute(0,initial, initial, -2px)
      border-right 1px solid highlight_color
      transition all 0.3s

  &.btn-icon-right i
    border-left 1px solid highlight_color

    +after()
      box(1px, 100%)
      absolute(0, -2px)
      border-left 1px solid bevel_color
      transition all 0.3s

  &.btn-disabled
    disabled_color = disable(bg)
    disabled_bevel = disable(bevel_color)
    disabled_highlight = disable(highlight_color)
    disabled_border = disable(border_color)

    background disabled_color !important
    border-color disabled_border !important

    if has_shadow
      text-shadow 0 1px 0 disabled_border, 0 2px 0 disabled_border
      color lighten(disabled_color, 50%)
    else
      color darken(disabled_color, 20%)

    &.btn-icon-left i
      border-color disabled_bevel
      &:after
        border-color disabled_highlight

    &.btn-icon-right i
      border-color disabled_highlight
      &:after
        border-color disabled_bevel

icon_owner(btn, button_settings)

.btn
  background_color = base1
  text_color = base01

  text-transform uppercase
  font-weight normal
  border-radius 3px
  cursor pointer
  transition background 0.3s, border-color 0.3s
  overflow hidden
  border 0
  appearance none

  +for_webkit()
    -webkit-appearance none
    -webkit-tap-highlight-color rgba(0,0,0,0)

  box_inline()
  relative()
  colored_btn(background_color, text_color)

  for name,accent in accents
    &.btn-{name}
      if name != 'lighter'
        text_color = colors.light.light

      colored_btn(accent, text_color)

  &.btn-disabled
    pointer-events: none
    cursor: initial

  &:not(.btn-disc):active
    margin-top 2px
    border-bottom-width 0
    height 30px

    &.btn-small
      height 21px

    &.btn-large
      height 40px
      margin-top 3px
      border-bottom-width 0

  &.btn-small
    border-radius 2px
    .text
      margin-top -1px

  &.btn-large
    border-radius 4px
    border-bottom-width 3px
      margin-top -3px

  &.btn-disc
    border-bottom none
    border-radius 50%

  .text
    box()
    margin-top -2px

.swap-icons
  .out
    animation icon-out 0.4s

  .in
    animation icon-in 0.4s
